<div class="developer">
	<h1>Juri Alexejewitsch Gagarin</h1>
	<div class="fact-box">
		<%= image_tag 'gagarin.jpg', :alt => 'Juri Alexejewitsch Gagarin', :class => 'rounded portrait' %>
		<p>
			<strong>Website</strong>: <span class="forceWrap"><a href="#">http://de.wikipedia.org/wiki/Juri_Alexejewitsch_Gagarin</a></span><br />
			<strong>Twitter</strong>: @Boctok1
		</p>
		<p>
			<strong>Credits:</strong><br />
			<strong>Designer</strong>: My first pony game, My second pony game, <a href="#">Ponys going to Space</a><br />
			<strong>Programmer</strong>: Ponys going to Space<br />
			<strong>Special Thanks</strong>: From Russia with Love
		</p>
	</div>

	<div class="text">
		<p>
			Aute letterpress anim cred, twee tattooed pinterest nostrud placeat ea blog aesthetic. Etsy sint bushwick laborum portland, commodo scenester. Authentic magna pitchfork bushwick, aesthetic pour-over VHS flexitarian raw denim sustainable mixtape quis gastropub wolf. Chillwave seitan narwhal banh mi. Vegan fixie cardigan readymade swag marfa retro, godard freegan ad excepteur culpa commodo squid etsy. Excepteur mustache ex officia, quis raw denim voluptate bushwick. Pariatur stumptown post-ironic helvetica portland master cleanse.
		</p>
		<p>
			farm-to-table, authentic deserunt selvage whatever tofu biodiesel thundercats wayfarers chillwave typewriter brooklyn. Mumblecore bespoke officia authentic trust fund. Nostrud bushwick velit quis echo park Austin. Pickled salvia small batch, mustache banh mi pork belly cosby sweater four loko narwhal. Viral nostrud veniam, sunt keffiyeh craft beer trust fund shoreditch. Irure food truck selvage, sustainable irony readymade qui fingerstache pork belly tempor lomo exercitation veniam. Tumblr 8-bit direct trade, pariatur anim readymade iphone next level tempor beard.
		</p>
		<p>
			Ethnic VHS next level, eu readymade culpa iphone hella beard irony laboris banh mi art party assumenda. Qui cillum occaecat cray Austin sapiente bushwick, squid butcher synth art party next level sriracha proident forage. Mumblecore consequat artisan wes anderson, single-origin coffee occupy commodo whatever cray marfa eiusmod. Scenester locavore sriracha, before they sold out organic trust fund quis small batch tattooed PBR. Ethical ut quinoa shoreditch, pork belly freegan keffiyeh veniam stumptown culpa mcsweeney's mustache american apparel dreamcatcher. Cillum single-origin coffee anim incididunt cardigan artisan. Chambray sed sriracha reprehenderit.
		</p>
		<p>
			Ennui food truck adipisicing, vinyl high life seitan direct trade authentic. Freegan truffaut placeat, umami portland +1 cred nostrud. Trust fund locavore sunt, readymade viral art party aute skateboard PBR sriracha. Post-ironic quinoa fugiat pork belly tempor. Pariatur nulla shoreditch brooklyn, farm-to-table pork belly aute four loko. Sartorial ut nisi umami. Dolore direct trade gastropub master cleanse food truck laboris gentrify, umami ullamco.
		</p>
	</div>
	
	<div class="clear"></div>
</div>

<script>

$(document).ready(function() {
	var target = $('div.developer').offset().top - 25;
	
	$('html, body').animate({scrollTop: target}, 1000);
})

</script>
