<div>
	<h1>About us</h1>
	<p>Lomo sriracha farm-to-table, authentic deserunt selvage whatever tofu biodiesel thundercats wayfarers chillwave typewriter brooklyn. Mumblecore bespoke officia authentic trust fund. Nostrud bushwick velit quis echo park Austin. Pickled salvia small batch, mustache banh mi pork belly cosby sweater four loko narwhal.</p>
	<div class="more"><a href="#">more...</a></div>
</div>

<div>
	<h1>News</h1>
	<p><strong>September 3rd, 2012</strong> &mdash; Lomo sriracha farm-to-table, authentic deserunt selvage whatever tofu biodiesel thundercats wayfarers chillwave typewriter brooklyn. Mumblecore bespoke officia authentic trust fund. Nostrud bushwick velit quis echo park Austin. Pickled salvia small batch, mustache banh mi pork belly cosby sweater four loko narwhal.</p>
	<div class="more"><a href = "#">more...</a></div>
</div>

<div>
	<h1><%= link_to 'Games', games_path %></h1>
	<div class="tiled_2x">
		<a href="/games/1">
			<div class="tile">
				<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>This is a game</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_2x">
		<a href="/games/1">
			<div class="tile">
				<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>This is a game</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_2x">
		<a href="/games/1">
			<div class="tile">
				<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>This is a game</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_2x">
		<a href="/games/1">
			<div class="tile">
				<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>This is a game</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_2x">
		<a href="/games/1">
			<div class="tile">
				<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>This is a game</div></div>
			</div>
		</a>
	</div>
	
	<div class="clear"></div>
	<div class="more"><%= link_to 'more...', games_path %></div>
</div>

<div>
	<h1><%= link_to 'People', developers_path %></h1>

	<div class="tiled_4x">
		<a href="/developers/1">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>Juri Alexejewitsch Gagarin</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_4x">
		<a href="/developers/1">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>Juri Alexejewitsch Gagarin</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_4x">
		<a href="/developers/1">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>Juri Alexejewitsch Gagarin</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_4x">
		<a href="/developers/1">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>Juri Alexejewitsch Gagarin</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_4x">
		<a href="/developers/1">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>Juri Alexejewitsch Gagarin</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_4x">
		<a href="/developers/1">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>Juri Alexejewitsch Gagarin</div></div>
			</div>
		</a>
	</div>

	<div class="tiled_4x">
		<a href="/developers/1">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>Juri Alexejewitsch Gagarin</div></div>
			</div>
		</a>
	</div>
	
	<div class="tiled_4x">
		<a href="/developers/1">
			<div class="tile" >
				<%= image_tag('gagarin.jpg', :class => 'rounded teaser')%>
				<div class="caption"><div>Juri Alexejewitsch Gagarin</div></div>
			</div>
		</a>
	</div>
	
	<div class="clear"></div>
	<div class="more"><%= link_to 'more...', developers_path %></div>
</div>
