<h1>Games</h1>


<a href="/games/1">
	<div class="grid_12 alpha omega tile">
		<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
		<div class="caption"><div>generic shooter game</div></div>
	</div>
</a>
<a href="/games/1">
	<div class="grid_12 alpha omega tile">
		<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
		<div class="caption"><div>generic shooter game</div></div>
	</div>
</a>

<a href="/games/1">
	<div class="grid_12 alpha omega tile">
		<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
		<div class="caption"><div>generic shooter game</div></div>
	</div>
</a>

<a href="/games/1">
	<div class="grid_12 alpha omega tile">
		<%= image_tag('dummy_teaser.jpg', :class => 'rounded teaser')%>
		<div class="caption"><div>generic shooter game</div></div>
	</div>
</a>

<div class="clear"></div>

<div class="pager">
	<span class="prev">Prev</span>
	<a href=""><span class="page">1</span></a>
	<span class="active">2</span>
	<a href=""><span>3</span></a>
	<a href=""><span >4</span></a>
	<a href=""><span>5</span></a>
	<a href=""><span>6666</span></a>
	<a href=""><span>...777</span></a>
	<a href=""><span class="next">Next</span></a>
</div>
		


<!-- <% @games.each do |game| %>
  <tr>
    <td><%= game.name %></td>
    <td><%= game.description %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %> -->

<!-- <%= link_to 'New Game', new_game_path %> -->
