// 6 columns + 5 gutter + 2 half gutter on sides
$columnWidth: 48px;
$gutterWidth: 10px;
$gutterMargin: $gutterWidth / 2;

$tileGap: 1.2%;
$pagePadding: 40px;
$pageWidth: 768px - 2 * $pagePadding;

$darkGrey: #3d3d3f;
$lightGrey: #ccc;
$lightLightGrey: #eee;
$middleGrey: #666;
$white: #fff;
$red: #bf3616;
$redBright: $red * 1.2;
$redDark: $red * 0.8;

$borderRadius: 4px;

/*
 * media query sizes: 
 * devices:
 * 	- iPhone portrait:			320
 * 	- iPhone landscape:			480
 * 	- small tablet portrait:	600
 *	- iPad portrait:			768
 * 
 * we center around the important device sizes. Everything beyond 700px is
 * considered standard desktop size.
 */
$tiny: 	"screen and (max-width: 400px)";
$small: "screen and (max-width: 550px)";
$mid: 	"screen and (max-width: 699px)";
$large: "screen and (min-width: 700px)";


/* 
 * dev helper, shows the current size target
 */
#responsiveHelper {
	position: fixed;
	top: 0px;
	left: 0px;
	padding: 1em;
	font-weight: 900;
	background-color: $lightGrey;
	border: solid red 1px;
	z-index: 666;
	
	span {
		
		&:after {
			content: "no type!";
			text-transform: uppercase;
		}
		
		@media #{$large} {
			&:after {
				content: "large";
			}
		}
		
		@media #{$mid} {
			&:after {
				content: "mid";
			}
		}
		
		@media #{$small} {
			&:after {
				content: "small";
			}
		}
		
		@media #{$tiny} {
			&:after {
				content: "tiny";
			}
		}
	}
}



@font-face {
  font-family: 'League Gothic';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/League_Gothic-webfont.woff') format('woff');
}

body {
	font-size: 14px;
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
}

div.container {
	max-width: $pageWidth;
	padding: 0px $pagePadding;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	display: block;
	overflow: hidden;
	
	
	@media #{$small} {
		padding: 0px ($pagePadding / 1.5);
	}
	
	@media #{$tiny} {
		padding: 0px ($pagePadding / 2);
	}
}

div#header {
	background-color: $darkGrey;
	width: 100%;
	padding-top: 2.2em;
	padding-bottom: 2.2em;
	color: $white;
	
	div.logo {
		width: 33%;
		float: left;
		display: inline;
		
		@media #{$small} {
			display: block;
			float: none;
			width: 50%;
		}
		
		@media #{$tiny} {
			width: 75%;
		}
	}
	
	div.brief {
		width: 64%;
		margin-left: 35%;
		
		@media #{$small} {
			width: 100%;
			margin-left: 0px;
			margin-top: 1em;
		}
	}
}

div.menu {
	margin-top: 2.2em;
	
	ul {
		width: 24%;
		display: inline;
		float: left;
	}
}

div#footer {
	background-color: $lightGrey;
	color: $middleGrey;
	font-size: 0.8em;
	margin-top: 4em;
}

div#footerMenu {
	margin-top: 2.2em;
}

div#legal {
	margin-top: 1.5em;
}

div#footerLogo {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	width: 25%;
	
	@media #{$tiny} {
		width: 33%;
	}
}

h1,
h2 {
	font-family: 'League Gothic';
	text-transform: uppercase;
	font-size: 3.5em;
	color: $darkGrey;
	margin-top: 1em;

	&:first-child {
		margin-top: 0.5em;
	}
	
	a {
		&:link { color: $darkGrey; text-decoration: none; }
		&:hover { color: $darkGrey; text-decoration: none; }
		&:active { color: $darkGrey; text-decoration: none; }
		&:visited { color: $darkGrey; text-decoration: none; }
	}
}

h2 {
	font-size: 2.5em;
}

p {
	margin-bottom: 1em;
	
	&:last-child {
		margin-bottom: 0px;
	}
}

a {
	&:link { color: $red; text-decoration: none; }
	&:hover { color: $redBright; text-decoration: underline; }
	&:active { color: $red; text-decoration: none; }
	&:visited { color: $redDark; text-decoration: none; }
}

.rounded {
	border-radius: $borderRadius;
}

img {
	width: 100%;
}

div.tiled_2x,
div.tiled_4x {
	float: left;
	
	padding-left: ($tileGap / 2);
	padding-right: ($tileGap / 2);
	padding-top: ($tileGap);
}

div.tiled_2x {
	width: 50% - $tileGap / 2;
	
	&:nth-child(even) {
		padding-left: 0px;
	}
	
	&:nth-child(odd) {
		padding-right: 0px;
	}
	
	@media #{$small} {
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		float: clear;
	}
}

div.tiled_4x {
	width: (100% - (3 * $tileGap)) / 4;
	
	@media #{$large} {
		&:nth-child(4n+2) {
			padding-left: 0px;
		}
	
		&:nth-child(4n+1) {
			padding-right: 0px;
		}
	}
	
	@media #{$mid} {
		width: (100% - (2 * $tileGap)) / 3;

		&:nth-child(3n+2) {
			padding-left: 0px;
		}

		&:nth-child(3n+1) {
			padding-right: 0px;
		}
	}
	
	@media #{$small} {
		width: (100% - $tileGap) / 2;

		/* reset previous media styles */
		&:nth-child(n) {
			padding-left: ($tileGap / 2);
			padding-right: ($tileGap / 2);
		}
		
		&:nth-child(even) {
			padding-left: 0px;
		}

		&:nth-child(odd) {
			padding-right: 0px;
		}
	}

}

div.tile {
	position: relative;
	
	.caption {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 100%;
		background-color: rgba(255, 255, 255, 0.3);
		color: $darkGrey;
		font-size: 2em;
		font-family: 'League Gothic';
		text-transform: uppercase;
		
		div { /* inner caption div */
			margin-left: $borderRadius;
			margin-right: $borderRadius;
			margin-top: $borderRadius;
		}
		
		&:hover {
			background-color: rgba(255, 255, 255, 0.5);
		};
	}
}

div.more {
	margin-top: 1em;
}


div.text {
	@media #{$large} {
		border-right-width: 1px;
		border-right-style: solid;
		border-right-color: $lightGrey;
		padding-right: 2%;
		width: 64%;
	}
}

div.fact-box {	
	@media #{$large} {
		width: 32%;
		display: inline;
		float: right;
	}
	
	@media #{$mid} {
		img {
			float: right;
			width: 33%;
		}
	}
	
	p {
		margin-bottom: 1em;
	}
}

div.game {
	div.teaser {
		margin-top: 2.2em;
		margin-bottom: 2.2em;
	}
	
	h1 {
		margin-top: 0px;
	}

	
	div.media {
		overflow: hidden;
		margin-bottom: 2.2em;
		margin-top: 2.2em;
		
		div.caption {
			width: 100%;
			background-color: $darkGrey;
			color: $lightLightGrey;
			padding: 0.5em;
			font-size: 0.8em;
		}
	}
}

img.portrait {
	margin-bottom: 14px;
}
span.forceWrap {
	word-wrap: break-word;
}

div.pager {
	/* TODO: center the pager! */
	color: $middleGrey * 1.4;
	margin-top: 1em;
	
	span {
		min-width: 2em;
		display: block;
		padding: 0.4em;
		padding-bottom: 0.3em;
		text-align: center;
		background-color: $lightGrey * 1.12;
		float: left;
		margin: 2px;
		border-radius: $borderRadius;
	}
	
	span.active {
		background-color: $lightGrey * 0.8;
		color: $white;
	}

	
	span.prev {
		border-top-left-radius: 1em;
		border-bottom-left-radius: 1em;
		
		&:before {
			content: "\25c0\2002";
			font-family: arial;
			font-size: 0.8em;
		};
	}
	
	span.next {
		border-top-right-radius: 1em;
		border-bottom-right-radius: 1em;
		
		&:after {
			content: "\2002\25B6";
			font-family: arial;
			font-size: 0.8em;
		};
	}
}

a:hover span {
	background-color: $lightGrey * 0.8;
};





.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}
